@for $i from 1 through 5 {
    .shadow-#{$i} {
        box-shadow: 0 #{$i*.1}rem #{$i*.15}rem rgba(0,0,0,.5);
        transition: all .3s ease-in-out;
        &:hover {
            box-shadow: 0 #{$i*.15}rem #{$i*.3}rem rgba(0,0,0,.55);
        }
    }
}
@for $i from 1 through 5 {
    .text-shadow-#{$i} {
        text-shadow: 0 #{$i*.1}rem #{$i*.15}rem rgba(0,0,0,.5);
        transition: all .3s ease-in-out;
        &:hover {
            text-shadow: 0 #{$i*.15}rem #{$i*.3}rem rgba(0,0,0,.55);
        }
    }
}